* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

.body-top {
  background-color: #1f2937;

  text-align: center;
  margin: 0;
  padding: 60px;
}

.body-mid {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  gap: 10px;
  overflow: visible;
}

img {
  border: 3px solid #3a82f6;
  border-radius: 10%;
}
.mid-specific {
  display: flex;
  flex-direction: row;
}

.body-lower {
  background-color: #e9e5e7;
  font-weight: 300;
  color: #1f2937;
  font-size: 36px;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
body-lower p {
  display: inline-block;
  font-weight: 
}
}
.button-background {
  border: 2px;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 60px;
  display: flex;
  justify-content: center;
}
.button-call {
  background-color: #1e55c2;
  color: #ffffff;
  text-align: left;
  padding: 30px;
  display: inline;
  
}
.button-call button{
align-items: flex-end;
  
}
.footer {
  background-color: #1f2837;
  text-align: center;
  color: #dae6fd;
  padding: 5px;
}
.container-main {
  display: flex;
  flex-direction: column;
}

.button-call ,button{
  border-radius: 8px;

  
}

.pics-text {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.4;

}
.images1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: fit-content;
}
.body-top h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9f8fa;
}

.body-top h3 {
  font-size: 18px;
  color: #f9faf8;
}
.body-top p {
  font-size: 24px;
  color: #e5e7eb;
}
.body-top button {
  font-size: 24px;
  color: #3882F6;
}
.body-mid h2{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.body-lower h3{
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}
button {
  margin: auto;
  color: #3882F6;
  background-color:
  padding: 5px;
  border-radius: 25px;
  border: hsl(0, 0%, 100%) 3px solid;
}
